PORT=4000
# Cors origin whitelist, use "," to separate origins
CORS_ORIGIN_WHITELIST=http://localhost:3000

JWT_SECRET=WRITE-YOUR-SECRET-HERE
JWT_ISSUER=WRITE-YOUR-ISSUER-HERE

SESSION_SECRET=2f52d4a6bb83d6e2bb7c4f87aa60f4e33eba17bf9ace78a5a0be910c691a2834
# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Google Auth callback URL
GOOGLE_CALLBACK_URL=http://localhost:4000/auth/google/callback

# Enable Swagger UI
SWAGGER_ENABLED=true
# Swagger UI URL
SWAGGER_URL=/api-docs
# Swagger server url (use , to separate server, use | to separate server and name)
SWAGGER_SERVER_URL="http://localhost:3000|localhost,http://localhost:4000|localhost 4000"

# See https://www.prisma.io/docs/orm/reference/connection-urls
DATABASE_URL=